*{
    background-color: white;
    /* font-family: 'Roboto', sans-serif; */
}
header{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
}
h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
.form{
    text-align: center;
}

.header {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Archivo Black', sans-serif;
    font-size: 100px;
}

.subheader {
    font-family: 'Almarai', sans-serif;
    font-size: 50px;
    justify-content: center;
    padding-top: 100px;
}

#search-bar {
    padding-top: 25px;
}



