#ironmanbody {
  background: rgb(2,11,252);
  background: linear-gradient(90deg, rgba(2,11,252,1) 8%, rgba(236,1,1,1) 90%);
}

#blackwidowbody {
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 8%, rgba(236,1,1,1) 100%);
}

#captainamericabody {
  background: rgb(245,5,5);
  background: linear-gradient(90deg, rgba(245,5,5,1) 12%, rgba(25,38,208,1) 55%, rgba(255,255,255,1) 100%);
}

#hawkeyebody {
  background: rgb(123,2,252);
  background: linear-gradient(90deg, rgba(123,2,252,1) 0%, rgba(33,5,62,1) 45%, rgba(0,0,0,1) 100%);
}

#hulkbody {
  background: rgb(118,11,184);
  background: linear-gradient(90deg, rgba(118,11,184,1) 0%, rgba(3,124,7,1) 78%);
}

#thorbody {
  background: rgb(255,228,11);
  background: linear-gradient(90deg, rgba(255,228,11,1) 0%, rgba(254,174,0,1) 39%, rgba(255,0,0,1) 87%);
}

header h1 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 500px;
}
h1 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 175px;
}
.form {
  text-align: center;
}
.imagelist {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.imagelist img {
  width: 100%;
}
/*thor pic .can give the same name "hero" Change later when adding more heros hero can be define for all 6*/
#thor_image{
    width: 50%;
    height: 300px;
}

#ironman_image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

#ironman_bio {
  background-color: white;
  border: 1px solid black; 
  font-size: 25px;
  text-align: center;
  padding: 50px 0;
}

#blackwidow_image {
  width: 100%;
  height: 300px;
  object-fit:contain;
}

#blackwidow_bio {
  background-color: white;
  border: 1px solid black; 
  font-size: 25px;
  text-align: center;
  padding: 50px 0;
}

#captainamerica_image {
  width: 100%;
  height: 300px; 
  object-fit: contain;
}

#captainamerica_bio {
  background-color: white;
  border: 1px solid black; 
  font-size: 25px;
  text-align: center;
  padding: 50px 0;
}

#hulk_image {
  width: 100%;
  height: 300px;
  object-fit: contain;
}

#hulk_bio {
  background-color: white;
  border: 1px solid black; 
  font-size: 25px;
  text-align: center;
  padding: 50px 0;
}

#hawkeye_image {
  width: 100%;
  height: 300px; 
  object-fit: contain;
}

#hawkeye_bio {
  background-color: white;
  border: 1px solid black; 
  font-size: 25px;
  text-align: center;
  padding: 50px 0;
}

#thor_image {
  width: 100%;
  height: 300px;
  object-fit: contain;
}

#thor_bio {
  background-color: white;
  border: 1px solid black; 
  font-size: 25px;
  text-align: center;
  padding: 50px 0;
}

#header {
 font-size: 1000px;
 text-align: center;
}

